---
- hosts: localhost  # Assuming you're running Ansible locally
  connection: local
  become: true
  vars:
    build_number: "{{ lookup('env', 'BUILD_NUMBER') }}"
    dockerhub_username: "{{ lookup('env', 'DOCKER_HUB_LOGIN_USR') }}"
    dockerhub_password: "{{ lookup('env', 'DOCKER_HUB_LOGIN_PSW') }}"
     
  tasks:
    - name: Log in to Docker registry
      docker_login:
        username: "{{ dockerhub_username }}"
        password: "{{ dockerhub_password }}"
        
    - name: Docker build
      shell:
        cmd: |
          cd {{ workspace }}
          docker build --file Dockerfile --tag durgarani/abc_technologies:{{ build_number }} .
      vars:
        workspace: "{{ lookup('env', 'WORKSPACE') }}"

    - name: Push Docker image
      docker_image:
        name: "durgarani/abc_technologies:{{ build_number }}"
        source: local
        push: yes
        username: "{{ lookup('env', 'DOCKER_USERNAME') }}"
        password: "{{ lookup('env', 'DOCKER_PASSWORD') }}"
