---
- hosts: localhost  # Assuming you're running Ansible locally
  connection: local
  become: true
  vars:
    build_number: "{{ lookup('env', 'BUILD_NUMBER') }}"
    dockerhub_username: "{{ lookup('env', 'DOCKER_HUB_LOGIN_USR') }}"
    dockerhub_password: "{{ lookup('env', 'DOCKER_HUB_LOGIN_PSW') }}"
    registry_url: "https://index.docker.io/v1/"

  tasks:
    - name: Log in to Docker registry
      docker_login:
        username: "{{ dockerhub_username }}"
        password: "{{ dockerhub_password }}"
        registry_url: "{{ registry_url }}"

    - name: Docker build
      shell:
        cmd: |
          cd {{ workspace }}
          docker build --file Dockerfile --tag durgarani/abc_technologies:{{ build_number }} .
      vars:
        workspace: "{{ lookup('env', 'WORKSPACE') }}"

    - name: Push Docker image
      shell:
        cmd: |
          docker push docker.io/durgarani/abc_technologies:{{ build_number }}
