---
- hosts: localhost  # Assuming you're running Ansible locally
  vars:
    build_number: "{{ lookup('env', 'BUILD_NUMBER') }}"
    docker_login_credential: "DOCKER_HUB_LOGIN"
    registry_url: "https://index.docker.io/v1/"

  tasks:
    - name: Log in to Docker registry
      docker_login:
        credentials: "{{ docker_login_credential }}"
        registry_url: "{{ registry_url }}"

    - name: Docker build
      shell:
        cmd: |
          cd {{ workspace }}
          docker build --file Dockerfile --tag durgarani/abc_technologies:{{ build_number }} .
      vars:
        workspace: "{{ lookup('env', 'WORKSPACE') }}"

    - name: Push Docker image
      shell:
        cmd: |
          docker push docker.io/durgarani/abc_technologies:{{ build_number }}
