---
- hosts: localhost
  connection: local
  become: true

  tasks:
    - name: Build Docker image
      docker_image:
        build:
          path: "{{ lookup('env', 'WORKSPACE') }}"
          pull: yes
        name: "durgarani/abc_technologies:latest"
        state: present

    - name: Push Docker image
      docker_image:
        name: "durgarani/abc_technologies:latest"
        state: pushed
